

img {
    width: 300px;
    height: auto;
    margin-top: 10px;
}


.bg {
    /* position: fixed;
    top: 50px; */
    overflow: hidden;
    background-color: #2c2b2c;
    max-width: 95vw;
    max-height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    position: fixed;
    top: 50px;
    left: 50px;
    bottom: 50px;
    right: 50px;
    @media screen and (max-width: 768px) {
        min-width: 100vw;
        max-height: 100vh;
        // top: 50px;
        left: 0;
        bottom: 0;
        top: 0;
        overflow: inherit;  
    }
}

.logoContainer {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #fff;
    width: 400px;
    height: 400px;
    border-radius: 200px;
    animation-name: spin;
    animation-duration: 20000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    
    /* transform: rotate(3deg); */
    /* transform: rotate(0.3rad);/ */
    /* transform: rotate(3grad); */ 
    /* transform: rotate(.03turn);  */
    
}
@keyframes spin {
    0% {
        transform:rotate(-10deg);
    }
    
    20% {
        transform:rotate(10deg);
    }
    40% {
        transform:rotate(-10deg);
    }
    60% {
        transform:rotate(10deg);
    }
    80% {
        transform:rotate(-10deg);
    }
    100% {
        transform:rotate(10deg);
    }
}

.subcontainer {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sub {
    margin: 0;
    font-size: 35px;
    font-family: Helvetica, sans-serif;
}

.ring1, .ring2, .ring3, .ring4, .ring5, .ring6, .ring7, .ring8 { 
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(14, 14, 14, 0.2) 0px 8px 24px;
   
}



.ring1 {
    width: 80%;
    height: 500px;
    border-radius: 25px;
    background:  #2c2b2c;
    overflow: hidden;
    box-shadow: 
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -4px -4px 10px 0 rgba(255, 255, 255, 0.3);
}

.ring2 {

    width: 1400px;
    height: 1400px;
    border-radius: 700px;
    background: rgb(255, 130, 200);
}

.ring3 {

    width: 1500px;
    height: 1500px;
    border-radius: 750px;
    background: rgb(255, 110, 200);
}

.ring4 {

    width: 1600px;
    height: 1600px;
    border-radius: 800px;
    background: rgb(255, 90, 200);
}

.ring5 {
    width: 1700px;
    height: 1700px;
    border-radius: 850px;
    background: rgb(255, 70, 200);
}

.ring6 {

    width: 1800px;
    height: 1800px;
    border-radius: 900px;
    background: rgb(255, 50, 200);
}

.ring7 {

    width: 1900px;
    height: 1900px;
    border-radius: 950px;
    background: rgb(255, 30, 200);
}

.ring8 {

    width: 2000px;
    height: 2000px;
    border-radius: 1000px;
    background: rgb(255, 10, 200);
}
.ring8 {

    width: 2100px;
    height: 2100px;
    border-radius: 1050px;
    background: rgb(255, 0, 200);
}


.uc {
    font-size: 23px;
    font-family: Helvetica, sans-serif;
    color: rgb(226, 88, 169);
    margin-top: 10px;
    font-weight: bold;
    
}

// @media screen and (max-width : 768px ) {
//     .ring2,.ring3,.ring4,.ring5,.ring6,.ring7,.ring8 {
//        display: none;
//     }
// }

