.bg-chat {
    background-color: #fafafa;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 450px;
    border-radius: 30px;
    min-height: 0;
    width:17%;
    min-width: 250px;
}




.msgs-container {
    /* flex: 1; */
    overflow: auto;
    height: 350px;
    /* hide scrollbar */
    
   

}
.msgs {
    height: 300px;
    width: 100%;
   
 
}

.msg-container {
    /* min-height: 43px; */
    display: flex;
  
    
   

}

.sent-container {
    
    justify-content: flex-end;
}
.received-container {
    justify-content: flex-start;
}

.msg {
    /* max-height: 35px; */
    display: flex;
    align-items: center;
    padding: 5px 10px 9px 10px;
    column-gap: 10px;
    margin-bottom: 10px;

    row-gap: 30px;
    max-width: fit-content;
}

.sent {
   
background-color: rgb(212, 4, 132);
    flex-direction: row-reverse;
    border-radius:  10px  10px;
    color: orange;
}

.received {
    background-color: rgb(40, 0, 92);
    border-radius:  10px  10px;
 
}


.sent p{
    color: rgb(255, 255, 255);
    font-weight: 500;
    margin-left: 10px;
}
.received p {
    color: #ffffff;
    font-weight: 500;
    margin-right: 10px;

}



.msg-photo {
    height: 15px;
    width: auto;
    border-radius: 30000px;
    border: 2px solid #ffffff;
    margin: 0;
    
    
}

.msg-text {
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(12, 12, 12);
    margin: 0;

}

.send-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
  


  