.bg-chat {
    background-color: #fafafa;
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 450px;
    border-radius: 30px;
    min-height: 0;
    width:17%;
    min-width: 250px;
}




.msgs-container {
    /* flex: 1; */
    overflow: auto;
    height: 350px;
    /* hide scrollbar */
    
   

}
.msgs {
    height: 300px;
    width: 100%;
   
 
}

.msg-container {
    /* min-height: 43px; */
    display: flex;
  
    
   

}

.sent-container {
    
    justify-content: flex-end;
}
.received-container {
    justify-content: flex-start;
}

.msg {
    /* max-height: 35px; */
    display: flex;
    
    align-items: center;
    
    padding: 5px 10px 9px 10px;
    column-gap: 9px;
    margin-bottom: 10px;


    /* row-gap: 30px; */
    max-width: fit-content;
}

.sent {
   
/* background-color: rgb(238, 238, 238); */
flex-direction: row-reverse;
border-radius:  10px  10px;
color: rgb(67, 32, 223);
}

.received {
    /* background-color: rgb(233, 233, 233); */
    flex-direction: row;
    border-radius:  10px  10px;
    color: rgb(127, 47, 255);
    font-weight: 500;
 
}


.sent .msg-text {
    color: rgb(8, 8, 8);
 
    
}
.received .msg-text {
    color: rgb(8, 8, 8);
    font-weight: 500;
    
    
    text-align: start;
    
    
}



.msg-photo {
    
    width: 15px;
    border-radius: 30000px;
    /* border: 2px solid #ffffff; */
    margin: 0;
    
    
}

.msg-text {
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(12, 12, 12);
    margin: 0;
   width: 100%;

    text-align: start;  
    
    font-size: 14px;
    

}

.send-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
  
.id-container {
    display: flex;
   
    height: 20px;
    width: 100%;
}

.sent-id {
    
    flex-direction: column;
    align-items: flex-end;
    height: 100%;
    
}
.sent-id img{
    
    margin-left: 5px;
    margin-top: 0;
    margin-bottom: 0;

}
.sent-id p{
    
    font-size: 15px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 0;
    text-align: end;

}

.received-id {
    flex-direction: column;
    height: 100%;

}
.received-id img {
    margin-right: 5px;
    margin-top: 0;
    margin-bottom: 0;
    
}
.received-id p {
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
    
}