.bg-chat {
    background-color: #fafafa;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 450px;
    border-radius: 30px;
    min-height: 0;
}


.msgs-container {
    /* flex: 1; */
    overflow: auto;
}
.msgs {
    height: 350px;
    width: 100%;
    /* display: flex;
    flex-direction: column;
    justify-content: flex-end; */
    /* flex: 1;
    overflow:auto; */
}

.msg-container {
    height: 52px;
    display: flex;
    
   

}

.sent-container {
    
    justify-content: flex-end;
}
.received-container {
    justify-content: flex-start;
}

.msg {
    height: 40px;
    display: flex;
    align-items: center;
    padding: 0 10px 0 10px;
    column-gap: 10px;
    margin-bottom: 20px;

}

.sent {
   
background-color: rgb(248, 165, 227);
    flex-direction: row-reverse;
    border-radius:  10px 0  0 10px;
    
}

.received {
    background-color: rgb(101, 193, 255);
    
    border-radius: 0 10px 10px 0 ;
}



.msg-photo {
    height: 25px;
    width: auto;
    /* border-radius: 15px; */
    margin: 0;
    
    
}

.msg-text {
    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(12, 12, 12);
}


  
 
  
  


  