.big-container {
    justify-content: center !important;
    column-gap: 60px;
    /* margin-top: 100px; */
    /* background-color: #111; */
}

.contact-container {
    /* background-color: blue; */
    color: white;
    height: 500px;
    width: 50%;
    margin-left: 90px;
}

.btn-signin {
    width: 100%;
    height: 50px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* border-radius: 50px; */
    padding-top: 15px;
    box-shadow:  0px 0px 10px rgba(0, 0, 0, 0.5);
    padding-bottom: 15px;
    
}

.signin-container {
    width: 100%;
    /* height: 500px; */
    background-color: #6377e9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    align-self: baseline;

  }

  .signin-info {
    color: white;
    padding: 0 18px;
}

  .signin-info h1 {
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 600;
    font-family: helvetica;
    font-size: 22px;
}

    .signin-info p {
        font-size: 20px;
        font-weight: 400;
        text-align: start;
        font-size: 16px;
        color: rgba(255, 255, 255, 0.781);
        /* margin-bottom: 40px; */
    }


    .contact-header h1 {
        font-size: 35px;
    }
    .contact-text h2 {
        font-size: 35px;
    }
    .contact-text p {
        font-size: 20px;
    }

    .zen-container {
        width: 100%;
        padding: 0;
        margin: 0;
        object-fit: cover;
        
    }
    
    .zen-img{
        height: 100%;
        margin: 0;
        width: 100%;
        
    }
    .big-signin-container {
        width: 20%;
        height: 100%;
    
        height: 450px;

    }

    @media screen and (max-width: 1500px) {
      
        .contact-container {
            width: 100%;
            margin-left: 0;
            text-align: center;
        }
        
    }


    @media screen and (max-width: 600px) {
      
        .contact-container {
            width: 100%;
            margin-left: 0;
            
        }

        .contact-header h1 {
            font-size: 25px;
            width: 100%;
        }
        
    }