.containerAbout {
  display: flex;
  width: 90vw;
  z-index: 220000;

}

.panel {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  
  cursor: pointer;
  flex: .5;
  margin: 10px;
  transition: all 700ms ease-in-out;
}

.panel h3 {
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
  pointer-events: none;

}

p {
  font-size: 24px;
  position: absolute;
  top: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
  pointer-events: none;
  width: 300px;

}

.panel.active {
  flex: 5;
}

.panel.active h3, .panel.active p {
  opacity: 1;
  transition: opacity .5s ease-in .4s;
}

#first {
  background-color: #ac92eb;
  /* background-color: rgb(132, 255, 249); */
}

#second {
  background-color: #4fc1e8;
  /* background-color: rgb(152, 255, 249); */
}

#third {
  background-color: #a0d568;
  /* background-color: rgb(172, 255, 249); */
}

#fourth {
  background-color: #ffce54;
  /* background-color: rgb(192, 255, 249); */
}

#fifth {
  background-color: #ed5564;
  /* background-color: rgb(212, 255, 249); */
}



@media(max-width:480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-last-of-type(6),
  .panel:nth-last-of-type(7) {
    display: none;
  }
}