.containerAbout {
  display: flex;
  width: 90vw;
  z-index: 220000;
}

.hello {
  height: 500px;
}

.panel {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 500px;
  border-radius: 15px;
  color: rgb(255, 255, 255);
  box-sizing: border-box;
  cursor: pointer;
  flex: .5;
  margin: 10px;
  transition: all 700ms ease-in-out;
  border: 5px rgb(255, 255, 255) !important;
  border-style: dashed !important;
  box-shadow:
    12px 12px 16px 0 rgba(0, 0, 0, 0.25),
    -4px -4px 10px 0 rgba(243, 95, 243, 0.3);
}

.panel h3 {
  font-size: 35px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
  pointer-events: none;

}

.panel p {
  font-size: 30px;
  position: absolute;
  top: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
  pointer-events: none;
  width: 90%;
  font-weight: bold;

}

.panel.active {
  flex: 5;

  background-color: black;
}



.false, .undefined {
background-color: rgb(80, 80, 80);
  /* background-image: url("https://i.ibb.co/ZxXxLqz/bg-1.png"); */

}

/* .false::after, .undefined::after {
  content: "some text";
  color: blue;
} */

.panel.active h3, .panel.active p {
  opacity: 1;
  transition: opacity .50s ease-in .5s;

}




@media(max-width:480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-last-of-type(4),
  .panel:nth-last-of-type(5) {
    display: none;
  }
}